.homeProjects {
  margin: 100px 180px 0 180px;
}
@media (max-width: 1440px) {
  .homeProjects {
    margin: 100px 160px 0 160px;
  }
}
@media (max-width: 1150px) {
  .homeProjects {
    margin: 100px 100px 0 100px;
  }
}
@media (max-width: 1100px) {
  .homeProjects {
    margin: 100px 90px 0 90px;
  }
}
@media (max-width: 1050px) {
  .homeProjects {
    margin: 100px 80px 0 80px;
  }
}
@media (max-width: 1000px) {
  .homeProjects {
    margin: 100px 20px 0 20px;
  }
}
