.workProjects {
  padding: 100px 180px 0 180px;
}
.workParagraph {
  margin-top: 91px;
  color: #1b1b1b;
  font-family: DM Sans;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 129.2%;
}
.span1 {
  color: #0b5184;
}
.span2 {
  color: #ab35a7;
}
.down {
  margin: 80px 0 67px 0;
}

.wirkDiv {
  display: flex;
}
.workDiv * {
  color: #1b1b1b;
  font-family: DM Sans;
  font-size: 49px;
  font-style: normal;
  font-weight: 500;
  line-height: 129.2%;
}
.workDiv h6 {
  margin-bottom: 40px;
}
.workDiv a {
  color: #ab35a7;
  cursor: pointer;
  text-decoration-line: underline;
}
.workDiv span {
  color: #0b5184;
}

@media (max-width: 1440px) {
  .workProjects {
    padding: 100px 160px 0 160px;
  }
  .workParagraph,
  .workDiv * {
    font-size: 35px;
  }
  .down {
    margin: 60px 0 50px 0;
  }
  .workDiv h6 {
    margin-bottom: 30px;
  }
}
@media (max-width: 1150px) {
  .workProjects {
    padding: 100px 100px 0 100px;
  }
  .workParagraph,
  .workDiv * {
    font-size: 30px;
  }
  .down {
    margin: 50px 0 40px 0;
  }
}
@media (max-width: 1100px) {
  .workProjects {
    padding: 100px 90px 0 90px;
  }
  .workParagraph,
  .workDiv * {
    font-size: 25px;
  }
}
@media (max-width: 1050px) {
  .workProjects {
    padding: 100px 80px 0 80px;
  }
  .down {
    margin: 50px 0 40px 0;
  }
}
@media (max-width: 1000px) {
  .workProjects {
    padding: 100px 20px 0 20px;
  }
  .workParagraph,
  .workDiv * {
    font-size: 22px;
  }
  .down {
    margin: 40px 0 30px 0;
  }
  .workDiv h6 {
    margin-bottom: 20px;
  }
}
